<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
  <title>Covid-19 Statistics</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js" integrity="sha512-Wt1bJGtlnMtGP0dqNFH1xlkLBNpEodaiQ8ZN5JLA5wpc1sUlk/O5uuOMNgvzddzkpvZ9GLyYNa8w2s7rqiTk5Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.0/dist/chart.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
  <!-- Enable chartjs zoom-in-->
  <script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8"></script>
  <script src="chartjs-plugin-zoom.min.js"></script>
  <!-- Enable chartjs zoom-in-->
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="bootstrap.css">
</head>

<body>
<div ng-controller="myCtrl">
<div class= "row">

<div class="container-fluid panel panel-default col-3 no-float" style="font-family:verdana;">
<h4 style="font-family:georgia;text-align:center;">Control Panel</h4>
<hr></hr>
<h5>Country: {{country}}</h5>
<h5>Status: <span ng-style=statStyle>{{stat}}</span></h5>
<h5>Historical data: <span ng-style=historicalStyle>{{historical}}</span></h5>
<h6><span>{{historyTimeLine}}</span><span style="visibility: hidden;">_</span></h6>
<hr></hr>
<div style="font-family:verdana;">
<h4><strong>Total cases: <br>{{cases | number : 0}}</br></strong></h4>
<h4>Total deaths: <br>{{deaths | number : 0}}</br></h4>
<h4>Total active cases: <br>{{active | number : 0}}</br></h4>
<h4>Total recovered: <br>{{recovered | number : 0}}</br></h4>
<hr></hr>
<h4><strong>Recent cases: <br>{{todayCases  | number : 0}}</br></strong></h4>
<h4>Recent deaths: <br>{{todayDeaths | number : 0}}</br></h4>
<h4>Recent critical: <br>{{critical | number : 0}}</br></h4>
<h4>Recent recovered: <br>{{todayRecovered | number : 0}}</br></h4>
</div>

<hr></hr>
<h4 style="font-family:georgia;text-align:center;">Select Country</h4>
<div style="text-align:center;">
<select ng-model="selectedCountry">
<option ng-repeat="x in countryId" value="{{x}}">{{x}}</option>
</select>
<h4 style="font-family:georgia;text-align:center;">Set Range (Days)</h4>
<select ng-model="numberOfDays" style="width:100%;">
<option ng-repeat="x in Days" value="{{x}}">{{x}}</option>
</select>
<br><button ng-click="updateCountry()" style="margin-top:10px;">SEARCH</button></br>
</div>

<hr></hr>
<h6>Release Version: 2.0</h6>
</div>


<div class="container-fluid col-9" id="right" style="background-color:#FFFFFF;">
<h4 class= "heading">Covid-19 Information Centre</h4>
<div class="container-fluid panel panel-default col-md-12">
<h6 class ="row" id="historyTag"><strong>Historical chart:</strong></h6>
<div class="chart-container" style="position: relative;height:60vh; width:80vw;"><canvas id="myChart3"></canvas></div>
</div>
<div class="container-fluid col-md-12">
<button ng-click="resetZooms()" style="position: relative;margin-bottom:10px;">Reset zoom</button>
</div>
<div class="container-fluid panel panel-default col-md-6">
<canvas id="myChart1"></canvas>
</div>
<div class="container-fluid panel panel-default col-md-6">
<canvas id="myChart2"></canvas>
</div>

<input type="checkbox" ng-model="checked" aria-label="Toggle ngShow"> Enable Additional Information
<div ng-show="checked">
<div class="container-fluid col-md-6" style="font-family:verdana;">
<h4>Additional Information</h4>
<h5>Continent: {{continent}}</h5>
<h5>Estimated Population:{{population | number : 0}}</h5>
<h5>Affected Percentages:{{affected.toFixed(2)}}%</h5>
<h5>Estimated Case Ratio:{{oneCasePerPeople}}</h5>
</div>  
<div class="container-fluid panel panel-default col-md-6">
<canvas id="populationChart"></canvas>
</div>
</div>

</div>            
</div> 
</div>     
                    
<script src="controller.js"></script>
</body>
</html>
