html,body,.container {
    height:100%;
}
.container {
    display:table;
    width: 100%;
    padding: 0px 0 0 0;
    box-sizing: border-box;
}

.row {
    height: 100%;
    display: table-row;
}

.row .no-float {
  display: table-cell;
  float: none;
}

.capitalize {
   text-transform: capitalize;
   font-style:italic;
}

.heading{
	color:white;
	font-family:georgia;
	text-align:center;
}

#right {
  float: none;
  overflow-y: scroll;
  height: 100%;
  width: 100%;
  font-family:Arial;
}

#historyTag{
  position: relative;
  bottom: -5px;
  font-family:verdana;
}